# Database Credentials
MONGO_USER=admin
MONGO_PASS=secretpassword
MONGO_URI=mongodb://admin:secretpassword@localhost:27017/?authSource=admin
MONGO_DATABASE=financial_ai

NEO4J_USER=neo4j
NEO4J_PASS=secretpassword

KAFKA_BROKER=localhost:9092

# API & Token Keys
FIRE_ANT_BEARER=your_fireant_token_here
HF_TOKEN=your_huggingface_token_here




